body {
    background: white url("images/background.gif") no-repeat right bottom;
}

#header, #footer {
    margin-left: 0;
}

.main {
    height: auto !important;
}

.btn {
    border-width: 5px;
}
